
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Belleza');

body {
    background-color: rgba(252, 251, 250, 1);
    text-align: center;
}

/*
###############################
## Tabela e elementos dela ####
############################### */
#materials-section {
    padding-top: 1.5%;
    padding-bottom: 1.5%;   
    font-family: "Open Sans";
    font-size: 14px;
}
#materials-table{
    border-collapse: collapse;
    width: 100%;
}

#materials-table td,  #materials-table th {
    border: 1px solid rgb(229, 140, 161);
}

#materials-table thead tr th{
    background-color: rgb(229, 140, 161);
    color: rgb(255, 255, 255);
}

#search-section{
    font-family: "Belleza";
    font-size: 20px;
}

#search-section button{
    background-image: url(./img/arrowdown.svg);
    border: none;
    cursor: pointer;


    padding-top: 16px;
    padding-bottom: 6px;
    padding-left: 11px;
    padding-right: 11px;
}

#pagination-id button{
    background-color: rgb(229, 140, 161);
    font-family: "Belleza";
    font-size: 19px;
    color: white;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 11px;
    cursor: pointer;
}







#search-section{
   text-align: center
}





#name-search{
    padding-top: 0.5%;
    padding-bottom: 0.5%;

    white-space: nowrap;
}
#manufacturer-search{
    padding-top: 0.5%;
    padding-bottom: 0.5%;  
    white-space: nowrap;

}
#content-search{
    padding-top: 0.5%;
    padding-bottom: 0.5%;   
    white-space: nowrap;

}
#expiration-search{
    padding-top: 0.5%;
    padding-bottom: 0.5%;  
    white-space: nowrap;
}

#name-input{
    width: 80%;
}
#manufacturer-input{ 
    width: 80%;
}
#content-input{
    width: 80%;
}
#expiration-input{
    width: 80%;
}